@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import 'variables', 'boards', 'responsive';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid black;
}

body{
    font-family: 'Roboto', sans-serif;

}
.container{
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 1.25rem;
}