.circle {
    animation: go-down 0.3s linear;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -5%);
    height: 500px;
    width: 500px;
    background-color: none;
    border-radius: 50%;
  }
  
  .mid-circle {
    height: inherit;
    width: inherit;
    background-color: none;
    border-radius: 50%;
  }
  
  .big-circle {
    height: inherit;
    width: inherit;
    background-color: none;
    border-radius: 50%;
  }
  
  .big-circle:before {
    position: absolute;
    content: '';
    height: calc(100% + 300px); 
    width: calc(100% + 300px); 
    border: 4px dashed #858C9D;
    opacity: 30%;
    top: -150px;
    left: -150px;
    border-radius: inherit;
    animation: spin 150s linear infinite;
  }
  
  .mid-circle:before {
    position: absolute;
    content: '';
    height: calc(100% + 150px); 
    width: calc(100% + 150px); 
    border: 4px dashed #858C9D;
    opacity: 30%;
    top: -75px;
    left: -75px;
    border-radius: inherit;
    animation: spin2 150s linear infinite;
  }
  
  .circle:before {
    position: absolute;
    content: '';
    height: calc(100% + 0px); 
    width: calc(100% + 0px); 
    border: 4px dashed #858C9D;
    opacity: 30%;
    top: 0px;
    left: 0px;
    border-radius: inherit;
    animation: spin 150s linear infinite;
  }

  @keyframes go-down {
    0%{
        transform: translate(-50%,-150%);
    }
  }
  
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg); 
    }
  }
  
  @keyframes spin2 { 
    100% { 
      transform: rotateZ(-360deg); 
    }
  }

  body{
    overflow-x: hidden;
  }

  .logo{
    position: absolute;
    height: 60px;
    width: auto;
    opacity: 75%;
  }

  .logo_csharp{
    height: 90px;
  }