@import 'variables', 'landing-page', 'responsive', 'anim';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;

}

main{
    z-index: 1;

}

.container{
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 1.25rem;
    height: 100%;
}