@include media-md {
    .articles{

        &__header{
            flex-direction: row;
        }

        &__title{
            margin-bottom: 2rem;
        }

        &__create-post{
            margin-top: 2rem;
        }
    }


    .speakers{
        display: none;
    }

    .list-articles{

        &__card{

            padding-right: 5rem;

            &__btn-interacction{
                display: flex;
                flex-direction: column;
                margin-top: 2.2rem;
                padding: 0 1rem;
            }

            &__header{

                &__btn-interacction{
                    display: none;
                }

                &__user{
                    margin-left: 0;
                }

                &__btn-interacction-btn{
                    display: none;
                }
            }
        }
    }

    .btn-interacction-btn{
        display: none;
    }

    //! Colocar un position sticky
    .speakers{
        display: block;
        margin-top: 2rem;
        margin-left: 2.8rem;

        &__title{
            margin-top: 1rem;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        &__item{
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            &__profile{
                border-radius: 50%;
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 0.5rem;
            }

            &__username{
                color: #888888;
                margin-right: 0.625rem;
            }

            &__top-speakers{
                color: #888888;
                display: flex;
            }

            label{
                margin-left: 0.625rem;
            }
        }
    }
}